name: "CI/CD Workflow"
on:
   push:
     branches: [ "main", "dev" ]
   pull_request:
     branches: [ "main", "dev" ]

jobs:
   deploy-job:
    runs-on: ubuntu-latest
    steps:
      - name: SSH to server and run docker compose
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            echo "Ahoj Já jsem, deploy"
      - name: Checkout folder
        uses: actions/checkout@v3
      - name: Copy files to server
        uses: appleboy/scp-action@v0.1.4
        with:
           host: ${{ secrets.SSH_HOST }}
           username: ${{ secrets.SSH_USER }}
           key: ${{ secrets.SSH_KEY }}
           source: "./*/**"
           target: "/deploy/kuba-silhan-repo"
           script: |
             echo "Funguješ?"
